@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.title {
  font-family: "Playfair Display", serif;
  color: #fffdf6;
  text-align: center;
  text-shadow: -0.6615269780158997px 5.292215824127197px 11.57672119140625px
    rgba(0, 0, 0, 0.1),
    -2.9768712520599365px 20.838098526000977px 20.838098526000977px rgba(0, 0, 0, 0.09),
    -6.615269184112549px 46.63764953613281px 28.445659637451172px rgba(0, 0, 0, 0.05),
    -11.907485008239746px 83.02163696289062px 33.407108306884766px rgba(0, 0, 0, 0.01),
    -18.853517532348633px 129.65928649902344px 36.71474838256836px rgba(0, 0, 0, 0);

  font-size: 15vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.75vh;
}
