@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");

.footerWrapper {
  padding-top: 33px;
  padding-bottom: 90px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerTitle {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.footerSubtitle {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.footerTextTitle {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.footerTextSubtitle {
  margin-top: 4px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.footerTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerText {
  margin-bottom: 19.6px;
}

.footerIconsBlock {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.address {
  margin-bottom: 24px;
}

.subfooterBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subfooterText {
  color: #afb496;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.subFooterTextBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
