.dividerBlock {
  padding-top: 36px;
  padding-bottom: 90px;
  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

.mediaImage {
  width: 517px;
  height: 601px;
}

.mediaBlockContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 53px;
}

.mediaTextContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mediaText {
  display: flex;
  flex-direction: column;
  gap: 19.6px;
}
