.dividerBlock {
  padding-top: 36px;
  padding-bottom: 90px;
  border-top: 1px solid rgba(30, 30, 30, 0.1);
}

.mediaImage {
  width: 517px;
  height: 601px;
}

.mediaBlockContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 53px;
}

.mediaTextContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mediaText {
  display: flex;
  flex-direction: column;
  gap: 19.6px;
}

.mediaImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reversed {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .mediaImage {
    width: 417px;
    height: 483px;
  }
}

@media screen and (max-width: 768px) {
  .mediaImage {
    width: 276px;
    height: 320px;
  }
  .mediaTextContainer {
    gap: 64px;
  }
}

@media screen and (max-width: 540px) {
  .mediaBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
  .mediaImage {
    width: 320px;
    height: 371px;
    flex-shrink: 0;
  }
  .reversed {
    flex-direction: column;
  }
}
