.feedbackWrapper {
  display: flex;
  justify-content: center;
  padding-top: 143px;
  padding-bottom: 143px;
}

.feedbackCardsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 320px;
}

.swiper{
  width: 890px;
}

.mobileSection{
  display: none;
}

.feedbackWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 80px
}
@media screen and (max-width: 900px) {
  .feedbackWrapper {
    padding-top: 80px;
    padding-bottom:80px;
  }
}

@media screen and (max-width: 540px) {
  .mobileSection{
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .FeedbackSwiper{
    display: none;
  }
  .feedbackWrapper{
    padding-top: 80px;
  }
}

