@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");

.subtitle {
  font-family: "Manrope", sans-serif;
  color: rgba(30, 30, 30, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: -0.12px;
  text-transform: uppercase;
}
