.bluredMedia {
  background-image: url("../../../../../public/img/blur.png");
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.titleBlock {
  max-width: 470px;
}

.bluredContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

@media screen and (max-width: 768px) {
  .titleContainer {
    gap: 64px;
  }
  .titleBlock {
    max-width: 276px;
  }
}
